/* GENERAL */
main {
  margin-top: 20px;
  margin-bottom: 60px;
}
main > .container {
  padding: 60px 15px 0;
}

tv-grid {
  border: 2px;
  border-color: #fff;
  border-width: thick;
}
/* NAVBAR */
.navbar {
    background: #222222;
    border-bottom: 5px solid #fec400;
    border-width: thick;
}

.nav-item::after {
    background: #fec400;
    content: '';
    display: block;
    height: 2px;
    transition: 0.2s;
    width: 0px;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #212529;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #fec400;
}


/* FOOTER */
.footer {
  background-color: #111111;
  color: #eeeeee;
  border-top: 5px solid #fec400;
  height: 80px;  /* footer height */
  padding-top: 20px;
  display: block;
  margin-top: 20px; /* space between content and footer */
  position: relative;
  width: 100%;

  /*background-color: #f5f5f5;*/
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  list-style-type: none;
  text-align: center;
}

.footer > .container a {
  color: #fec400;
}

code {
  font-size: 80%;
}

.footer ul li {
  display: inline-block;
  padding: 5px;
}

.footer ul li a {
text-decoration: none;
color: #fec400;
}

.footer ul li a:hover
{
color: #fec400;
}
