<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
        <!-- | Important for Responsive | -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
                {{ 'site.title'|trans }} - {{ 'site.tagline'|trans }}
            {% endblock %}
        </title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

        <!-- video.js CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.0.0/video-js.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/master.css') }}" />

        <!-- Cookie Banner CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-eu-cookie-law-popup.css') }}"/>
        {% endblock %}
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('images/logo/favicon.png') }}" />
    </head>
    <body>
<!--
<div id="blog" class="container">
-->

{% block header %}

{% endblock %}


{% block navbar %}
<!-- NAVBAR STARTS -->
<section id="content">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a href="index.html" class="navbar-brand"><img src="{{ asset('images/logo/logo_192-64.png') }}" /></a>
    <button class="navbar-toggler" type="button" data-target="#navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="{{ path('homepage') }}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{ path('about') }}" class="nav-link">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Channels</a>
          <div class="dropdown-menu" aria-labelledby="navdrop">
            <a href="{{ path('deutsches-tv') }}" class="dropdown-item">German TV</a>
            <a href="{{ path('austrian-tv') }}" class="dropdown-item">Austrian TV</a>
            <a href="{{ path('swiss-tv') }}" class="dropdown-item">Swiss TV</a>
            <!--<a href="usa-tv.html" class="dropdown-item">USA TV</a>-->
          </div>

        </li>
        <li class="nav-item">
          <a href="{{ path('contact') }}" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
<!-- NAVBAR ENDS -->
{% endblock %}

<!--<div class="panel panel-default">-->

<!--    <div class="panel-body">-->
        <div class="container-fluid">

<!--|| The content of the Homepage will be here ||-->
        <section class="main-col">
            {% block body %}
            <main>
              <!--/ CONTENT STARTS-->
              <div class="container">

                <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">HOME</h1>
                <hr class="mt-2 mb-5">

              </div><!-- /.container -->
              <!--/ CONTENT ENDS /-->
            </main>
            {% endblock %}
        </section>
<!--|| The content of the Sidebar will be here ||-->
        <aside class="wrapper sidebar">
            {% block sidebar %}

            {% endblock %}
        </aside>

<!--        </div>-->
<!--    </div>-->

<!--|| The content of the Footer will be here ||-->
        {% block footer %}
        <!--/ FOOTER STARTS /-->
        <footer class="footer mt-auto py-3 fixed-bottom">
          <div class="container">
            <span class="text-muted">&copy; 2020 <a href="mailto://jmc@hyperclock.eu">JMColeman</a>. All rights reserved.</span>
            <span class="">
              <ul>
                <li>
                  <a href="{{ path('terms') }}">AGB</a>
                </li>
                <li>
                  <a href="{{ path('disclaimer') }}">Haftungsausschluss</a>
                </li>
                <li>
                  <a href="{{ path('privacy-policy') }}">Datenschutz</a>
                </li>
                <li>
                  <a href="{{ path('imprint') }}">Impressum</a>
                </li>
              </ul>
            </span>
          </div>
        </footer>
        <!--/ FOOTER ENDS /-->
        {% endblock %}
<!--    </div>-->
  </div>

</div>
<!--|| Javascript content will be here ||-->
            {% block javascripts %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

            <!-- FontAwesome JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>

            <!-- video.js JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.0.0/video.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.15.0/videojs-contrib-hls.js"></script>

            <!-- Custom JS -->
            <script type="text/javascript" src="{{ asset('js/master.js') }}"></script>

            <!-- Cookie Banner JS -->
            <!--<script type="text/javascript" id="cookiebanner" src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js" data-height="20px" data-position="bottom" data-message="Wir verwenden Cookies, um Ihr Surferlebnis zu verbessern.">
            </script>-->

            {% endblock %}

        </div>

    </body>
</html>
